body{
    background-color: #5cbcfc; /* 白色背景，50%透明度 */
}
#top{
    width:100%;
    height:60px;
    background-color: #f8f7f6;
    text-align: center;
    
}
#exhibit{
  display:flex; 
  flex-wrap: wrap;
  background-color: #a0c7ed;
  width: 50%; 
  height:100%; 
  margin-top:0%; 
  margin-left:1%; 
}
#ele {
    display: flex; 
    flex-direction: column;   
    height: 25vh; 
    width: 100%; 
    margin-right: 10px; 
    margin-top: 30px;  
    border: 1px solid #000203;
  }

  #ele .im{
    display: inline-block;
    height: 80%; 
    width: 100%;
  }
  #ele img{
    /* object-fit: contain; */
    width:100%; 
    height:100%;
  }
  #ele .di{
    height: 20%; 
    width: 100%;
    font-size:50px;
  }

  #right{
    width: 28%; 
    background-color: #96caa2;
    margin-top: 5%; 
    margin-left:70%; 
    position:fixed;
  }
